<label>
  <span>User Name</span>
  <input type="text" name="username" required />
</label>
<label>
  <span>Password</span>
  <input type="password" name="password" required />
</label>
<button>Submit</button>
