
<nav>
  <% if (user) { %>
    <% if (user.level !== "admin") { %>
      <% if (url !== "upgrade") { %>
        <a href="/upgrade" class="<%= isPending ? 'pending' : '' %>">Upgrade</a>  
      <% } %>
    <% } else { %>
        <% if (url !== "requests") { %>
          <a href="/requests"class="<%= isPending ? 'pending' : '' %>">Requests</a>
        <% } %>
    <% } %>
    <% if (url !== "home") { %>
      <a href="/home/1">Home</a>
    <% } %>
    <% if (url !== "new_post") { %>
      <a href="/post/new-post">New Post</a>
    <% } %>
    <% if (url !== "profile") { %>
      <a href="<%= `/profile/${user.username}` %>">(You)</a>
    <% } %>
    <a href="/auth/log-out">Log out</a>
  <% } else { %>
    <% if (url !== "home") { %>
      <a href="/home/1">Home</a>  
    <% } %>
    <% if (url !== "sign-up") { %>
      <a href="/auth/sign-up">Sign up</a>  
    <% } %>
    <% if (url !== "log-in") { %>
      <a href="/auth/log-in">Log in</a>  
    <% } %>
  <% } %>
</nav>
