<link rel="stylesheet" href="/styles/navbar.css">
<nav>
  <% if (user) { %>
    <% if (url !== "request") { %>
      <a href="/request" class="<%= isPending ? 'pending' : '' %>"><%= user.level !== "admin" ? "Upgrade" : "Requests" %></a>  
    <% } %>
    <% if (url !== "home") { %>
      <a href="/home/1">Home</a>
    <% } %>
    <% if (url !== "new_post") { %>
      <a href="/post/new-post">New Post</a>
    <% } %>
    <% if (url !== "user" || author?.username !== user.username) { %>
      <a href="<%= `/user/${user.username}` %>">(You)</a>
    <% } %>
    <a href="/auth/log-out">Log out</a>
  <% } else { %>
    <% if (url !== "home") { %>
      <a href="/home/1">Home</a>  
    <% } %>
    <% if (url !== "sign-up") { %>
      <a href="/auth/sign-up">Sign up</a>  
    <% } %>
    <% if (url !== "log-in") { %>
      <a href="/auth/log-in">Log in</a>  
    <% } %>
  <% } %>
</nav>
