
<nav>
  <% if (user) { %>
    <% if (user.level === "basic") { %>
      <% if (url !== "home") {%>
        <a href="/home/1">Home</a>
      <% } %>
      <% if (url !== "upgrade") {%>
        <a href="/upgrade" class="<%= isPending ? 'pending' : '' %>">Upgrade</a>  
      <% } %>
      <% if (url !== "new_post") {%>
        <a href="/new-post">New Post</a>
      <% } %>
      <% if (url !== "profile") {%>
        <a href="<%= `/profile/${user.handle}` %>">(You)</a>
      <% } %>
      <a href="/auth/log-out">Log out</a>
    <% } %>
  <% } else { %>
    <% if (url === "home") { %>
        <a href="/auth/log-in">Log in</a>
        <a href="/auth/sign-up">Sign up</a>
      <% } else if (url === "post") { %>
        <a href="/home/1">Home</a>
        <a href="/auth/log-in">Log in</a>
        <a href="/auth/sign-up">Sign up</a>     
      <% } else if (url === "log-in") { %>
        <a href="/auth/sign-up">Sign up</a>
      <% } else { %>
        <a href="/auth/log-in">Log in</a>
      <% } %>
  <% } %>
</nav>
